* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {
  width: 100%;
  min-height: 100vh;
  background-color: #81ecec;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.note {
  height: 400px;
  width: 400px;
  background-color: white;
  margin: 15px;
}

.tool {
  width: 100%;
  background-color: #2d3435;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: end;
}

.tool i {
  padding: 5px;
  cursor: pointer;
}

.note textarea {
  border: none;
  height: 100%;
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 18px;
}

.note textarea:focus{
  border: none;
  outline: none;
}
