* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main {
  width: 100%;
  min-height: 100vh;
  background-color: #81ecec;
  display: flex;
  flex-wrap: wrap;
}

.note {
  height: 400px;
  width: 400px;
  background-color: white;
  margin: 15px;
}
